<% title "Galleries" %>

<% @galleries.each do |gallery| %>
  <div class="gallery">
    <h2><%= link_to gallery.title, gallery %></h2>
    Descriptions: <%= gallery.description %> 
    Photos: <%= gallery.photos.count %>
    <%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<p><%= link_to "New Gallery", new_gallery_path %></p>
